* {
  font-family: Nunito;
}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #e2e7e7; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #c5c1b9; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

textarea:focus, input:focus{
  outline: none;
}

body {
  background-color: #F2F0EF;
  font-family: 'Roboto'
}

.chat-header {
  text-align: left;
  padding: 20px 10px 20px 10px;
  display: flex;
}

.chat-app {
  display: flex;
  flex-direction: column;
  height: 75vh;
  width: 45vw;
}

.chat-area {
  flex-grow: 2; 
  overflow-y: auto;
  padding-top: 3vw;
}

.user {
  margin-right: 2vw;
  padding: 5px;
  border-radius: 25px;
  text-align: left;
  display: flex;
}

.model {
  padding: 5px;
  margin-right: 2vw;
  border-radius: 25px;
  text-align: left;
  display: flex;
}


.message-input {
  display: flex;
  border: solid 1px #505261;
  background-color: #e9e2de;
  border-radius: 35px;
  margin-bottom: 25px;
}

.chat_msg_input {
  flex-grow: 4;
  padding: 5px 5px 5px 45px;
  height: 40px;
  font-size: 1.3vw;
  border: 0px;
  background-color: transparent;
  color: rgb(31, 2, 2);
  border-radius: 30px;
}

.chat_msg_btn {
  flex-grow: 1;
  padding: 5px 10px;
  background-color: transparent;
  color: white;
  border: none;
  font-size: 20px;
}

.chat-header > img {
  height: 35px; 
  width: 100px;
  }

.chat-header > p {
    position: relative;
    display: inline-block;
    margin-left: 10px;
    bottom: 1px;
    font-size: 2vw;
    color: #4991e8;
  }

.MuiMenu-root, .MuiMenuItem-root {
  font-family: 'Nunito' !important;
}
  

.user > img {
  height: 30px; 
  max-width: 30px;
  border-radius: 50%;
  flex-grow: 1;
  }

.user > p {
    position: relative;
    display: inline;
    bottom: 3vh;
    font-size: 1em;
    margin-left: 15px;
    border-radius: 25px;
    padding: 0px 15px 0px 15px;
    background-color: #ece2e2;
    color: #000000;
    border: solid 1px #505261;
  }

.model > img {
  height: 35px; 
  max-width: 35px;
  border-radius: 50%;
  flex-grow: 1;
  }

.model > p {
  position: relative;
  bottom: 3vh;
  font-size: 1em;
  margin-left: 15px;
  border-radius: 25px;
  padding: 0px 15px 0px 15px;
  background-color: #e0e4e9;
  color: #000000;
  border: solid 1px #9a9caa;
}


.tempResponse {
  display: flex;
  align-items: flex-start;
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 10px;
  background-color: #c5c1b9;
}

.tempResponse > p {
  margin-left: 10px;
  max-width: 80%;
  word-wrap: break-word;
  font-size: 1em;
  color: #000000; 
}

.tempResponse > img {
  height: 35px; 
  max-width: 35px;
  border-radius: 50%;
  flex-grow: 1;
}

.title {
  padding-bottom: 5px;
  font-size: 40px;
  text-align: center;
  color: #1f0202;
  font-weight: 800;
}

.welcome-1 {
  text-align: left;
  font-size: 2.3em;
  font-weight: bold;
  color: #b7b3ab;
}

.welcome-2 {
  text-align: left;
  font-size: 2.3em;
  font-weight: bold;
  color: #b7b3ab;
}

.fa-span-send {
  color: black;
  position: relative;
  left: 15px;
}

.chat-bubble {
  display: flex;
  align-items: flex-start;
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 10px;
  background-color: #f5f5f5;
}

.chat-bubble.user {
  justify-content: flex-start;
  background-color: #e5e0d5;
  border-radius: 10px;
}

.chat-bubble.model {
  justify-content: flex-start;
  background-color: #c5c1b9;
  border-radius: 10px;
}

.message-content {
  margin-left: 10px;
  max-width: 80%;
  word-wrap: break-word;
}

.save-recipe-container {
  margin-top: 10px; /* Adds space between the message and button */
  display: flex;
  justify-content: flex-start;
}

.save-recipe-button {
  background-color: #e5e0d5;
  color: black;
  border: none;
  padding: 8px 15px;
  font-size: 0.9em;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.save-recipe-button:hover {
  background-color: #dcd7cd;
}
